*

!.config/
!.config/btop/
!.config/btop/**/*
!.config/cava/
!.config/cava/**/*
!.config/dconf/
!.config/dconf/**/*
!.config/fish/
!.config/fish/**/*
!.config/fontconfig/
!.config/fontconfig/**/*
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/hypr/
!.config/hypr/**/*
!.config/kitty/
!.config/kitty/**/*
!.config/lazygit/
!.config/lazygit/**/*
!.config/mako/
!.config/mako/**/*
!.config/mpd/
!.config/mpd/**/**
.config/mpd/log
.config/mpd/state
!.config/mpv/
!.config/mpv/**/*
!.config/ncmpcpp/
!.config/ncmpcpp/**/*
!.config/nvim/
!.config/nvim/**/**
!.config/obs-studio/
!.config/obs-studio/themes
!.config/obs-studio/themes/**/*
!.config/qt5ct/
!.config/qt5ct/**/*
!.config/ranger/
!.config/ranger/**/*
!.config/sway/
!.config/sway/**/*
!.config/swaylock/
!.config/swaylock/**/*
!.config/waybar/
!.config/waybar/**/*

!.local/
!.local/share/
!.local/share/backgrounds/
!.local/share/backgrounds/arch-black-4k.png
!.local/share/backgrounds/Bridge.jpg
!.local/share/backgrounds/dark-cat.png
!.local/share/backgrounds/wallhaven-dgv23j.png
!.local/share/backgrounds/NachoNeko.jpg
!.local/share/backgrounds/Street.jpg
!.local/share/fcitx5/
!.local/share/fcitx5/**/*

!.env
!.gitconfig
!.gitignore
!.gitmodules
!.npmrc

!README.md
