*

!.config/
!.config/chromium-flags.conf
!.config/nighttab.json
!.config/btop/
!.config/btop/**/*
!.config/cava/
!.config/cava/**/*
!.config/fcitx5/
!.config/fcitx5/**/*
!.config/firefox-chrome/
!.config/firefox-chrome/**/*
!.config/fontconfig/
!.config/fontconfig/**/*
!.config/foot/
!.config/foot/**/*
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/hypr/
!.config/hypr/**/*
!.config/lazygit/
!.config/lazygit/**/*
.config/lazygit/state.yml
!.config/mako/
!.config/mako/**/*
!.config/mpv/
!.config/mpv/**/*
!.config/nvim/
!.config/nvim/**/*
.config/nvim/lazy-lock.json
!.config/obs-studio/
!.config/obs-studio/themes
!.config/obs-studio/themes/**/*
!.config/qt5ct/
!.config/qt5ct/**/*
!.config/ranger/
!.config/ranger/**/*
.config/ranger/plugins/__pycache__
.config/ranger/plugins/ranger_devicons/__pycache__
!.config/rofi/
!.config/rofi/**/*
!.config/swaylock/
!.config/swaylock/**/*
!.config/waybar/
!.config/waybar/**/*
!.config/xsettingsd/
!.config/xsettingsd/**/*

!.local/
!.local/share/

!.local/share/backgrounds/
# Catppuccin
!.local/share/backgrounds/Catppuccin.png
!.local/share/backgrounds/Bridge.jpg
!.local/share/backgrounds/Street.jpg
!.local/share/backgrounds/SpookySpill.jpg
!.local/share/backgrounds/CatLeaves.png
# Anime
!.local/share/backgrounds/Aqua.png
# https://github.com/mashumarodesu/dots/blob/master/Assets/Aqua.png
# Wallhaven
# dgv23j (NachoNeko)
# we52gr (NachoNeko)
# zyxvqy (ACatUnderADroppingSun)
# o59gvl (Flowers)

!.local/share/fcitx5/
!.local/share/fcitx5/themes/
!.local/share/fcitx5/themes/**/*

!.mpd/
!.mpd/**/**
.mpd/log
.mpd/state
!.ncmpcpp/
!.ncmpcpp/**/*
.ncmpcpp/error.log

!.gitconfig
!.gitignore
!.gitmodules
!.npmrc

!.zshrc
!.zshenv
!.zimrc
!.zsh/
!.zsh/**/*
!.bin/
!.bin/**/*

!README.md
