@import './mocha.css';

* {
  /* font-family: JetBrainsMono Nerd Font; */
  font-family: MonoLisa Nerd Font;
  font-size: 10pt;
  font-weight: bold;
}

window#waybar {
  background-color: alpha(@base, 0.95);
  color: @text;
}

tooltip {
  background-color: @surface1;
  border-radius: 12px;
}

#workspaces,
#cpu,
#memory,
#temperature,
#custom-cava,
#mpd,
#tray,
#network,
#pulseaudio,
#backlight,
#battery,
#clock {
  padding: 5px 10px;
  margin: 5px 5px;
  background-color: alpha(@text, 0.16);
  border-radius: 12px;
}

/* the first element */
#workspaces {
  margin-left: 14px;
  padding: 0;
}
#workspaces button {
  padding: 0;
  color: @subtext0;
  border-radius: 12px;
}
#workspaces button.active,
#workspaces button.focused {
  color: @sky;
}
#workspaces button.urgent {
  color: @red;
}
#workspaces button:hover {
  color: @blue;
}

#network {
  color: @blue;
}
#cpu,
#pulseaudio {
  color: @red;
}
#memory,
#backlight {
  color: @yellow;
}
#temperature,
#battery {
  color: @teal;
}
#battery.charging {
  color: @green;
}
#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
}

/* the last element */
#clock {
  margin-right: 14px;
  padding-right: 0;
}
