@import './mocha.css';

* {
  /* font-family: JetBrainsMono Nerd Font; */
  font-family: MonoLisa Nerd Font;
  font-size: 10pt;
  font-weight: bold;
}

window#waybar {
  background-color: alpha(@base, 0.95);
  color: @text;
}

tooltip {
  background-color: @surface1;
  border-radius: 12px;
}

#workspaces,
#clock,
#tray,
#cpu,
#memory,
#temperature,
#custom-cava,
#mpd,
#network,
#pulseaudio,
#backlight,
#battery {
  padding: 5px 10px;
  margin: 5px 5px;
  background-color: alpha(@text, 0.16);
  border-radius: 12px;
}

/* the first element */
#workspaces {
  margin-left: 14px;
  padding: 0 10px;
}
#workspaces button {
  padding: 0;
  color: @subtext0;
  border-radius: 12px;
}
#workspaces button.active,
#workspaces button.focused {
  color: @sky;
}
#workspaces button.urgent {
  color: @red;
}
#workspaces button:hover {
  color: @blue;
}

#clock { color: @rosewater; }

#cpu { color: @blue; }
#memory { color: @green; }
#temperature { color: @yellow; }
#network { color: @maroon; }
#pulseaudio { color: @mauve; }
#backlight { color: @pink; }
#battery { color: @rosewater; }
#battery.charging {
  background-color: @green;
  color: @base;
}
#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
}

/* the last element */
#battery {
  margin-right: 14px;
}
