/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2FCC;
    background-alt: #282839CC;
    foreground:     #D9E0EECC;
    selected:       #7AA2F7CC;
    active:         #ABE9B3CC;
    urgent:         #F28FADCC;
}
